<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-6 col-md-4">
        <div  class="productgallery-image"><%= image_tag(product.image_url, class: "img-fluid") %></div>
        <div class="productgallery-info">
          <a href="#"><h2><%= product.name %></h2></a>
          <p><%= product.description %></p>
          <p><%= product.colour %></p>
          <p><%= product.price %></p>
        </div>
        </td><%= link_to 'show', product %></td>
      </div>
    <% end %>
  </div>
</div>


<br>

<%= link_to 'New Product', new_product_path %>
